.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin: 120px 0px 0px 0px;
}

.plugin-title{
  font-size: 46px;
}

.input-descrp {
  font-size: 28px;
  color: #645BFF;
  font-weight: 400;
}